<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}MPOS - Starter Template{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/vendor/fontello/css/fontello.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/font.css">
  <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/static/js/angular/angular.min.js"></script>
  <style type="text/css">
    h1,h2,h3,h4,h5,ul,li,hr,p,form {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    body {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</head>
<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">MPOS</a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
