{% extends "master/admin.html" %}

{% block page %}
  <div class="page-title">
    {% if id %}
      <h3 class="page-title">แก้ไขกลุ่มสาขา</h3>
    {% else %}
      <h3 class="page-title">เพิ่มกลุ่มสาขา</h3>
    {% endif %}
  </div>
{% endblock %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li><a href="{{ url_for('admin.btype') }}">กลุ่มสาขา</a></li>
    <li class="active">
      {% if branch_type %}
        แก้ไขกลุ่มสาขา "{{ branch_type.branch_type_name }}"
      {% else %}
        รายการกลุ่มสาขาใหม่
      {% endif %}
    </li>
  </ol>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">ข้อมูลกลุ่มสาขา</h4>
        </div>
        <div class="panel-body">
          <div class="col-md-12">
            <form id="forms" enctype="multipart/form-data" action="/api/branchtype/save" method="post" data-parsley-validate>
              <table class="table" id="form-table">
                <tr>
                  <td><label for="id">รหัส</label></td>
                  <td><input type="text" class="form-control form-code" id="id" name="id" value="{{ id }}" readonly>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="branch_type_name">ชื่อกลุ่มสาขา</label> <span class="required">*</span>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="branch_type_name" name="branch_type_name" ng-model="branch_type.branch_type_name" required>
                  </td>
                </tr>
              </table>
            </form>
          </div>
        </div>
        <div class="panel-footer">
          <div class="pull-right">
            <a href="#" class="btn btn-primary" ng-click="submit()"><i class="fa-floppy"></i> บันทึก</a>
            <a href="{{ url_for('admin.btype') }}" class="btn btn-default">ยกเลิก</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/app/btype/form.js"></script>
{% endblock %}
